<!-- <img src="view/img/bienvenido.png"> -->

	
<div class="single-slider ptb-1500 bg-opacity">
			<div class="container">
					<div class="slider-text text-center">
						<h1 class="cd-headline clip is-full-width">
							<span>Ciudades como </span>
							<span class="cd-words-wrapper">
								<b class="is-visible">Madrid</b>
								<b>Valencia</b>
                <b>Barcelona</b>
                <b>Galicia</b>
							</span>
						</h1>
					</div>					
				</div>
      </div>

    <!-- Listar tipos -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-left: 15%;padding-right: 15%;z-index:0">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
   <div class="carousel-inner"></div> 

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <embed src=“http://localhost/Programacion/Tema5_1.0/Tema5_1.0/8_MVC_CRUD/view/music/whistle.mp3”> -->

<div class="single-slider ptb-1500 bg-opacity">
			<div class="container">
					<div class="slider-text text-center">
						<h1 class="cd-headline clip is-full-width">
							<span>Habitaciones tipo </span>
							<span class="cd-words-wrapper">
								<b class="is-visible">Standart</b>
								<b>Lujo</b>
                <b>Asiatica</b>
							</span>
						</h1>
					</div>					
				</div>
      </div>

    <!-- Listar tipos -->
    <div class="contenedor">
      <div class="ciudades"></div>
      <!-- <div class="texto"></div> -->
    </div>
    
    <!-- Fin listar tipos -->


    <div class="single-slider ptb-1500 bg-opacity">
			<div class="container">
					<div class="slider-text text-center">
						<h1 class="cd-headline clip is-full-width">
							<span>Todas las ciudades </span>
						</h1>
					</div>					
				</div>
      </div>

    <!-- Listar tipos -->

    <!-- Listar ciudades -->
    <div class="contenedor">
      <div class="ciudades_home"></div>
    </div>
    <!-- Fin listar ciudades -->





  <!-- Listar categorias mas visitadas -->
    <div class="single-slider ptb-1500 bg-opacity">
			<div class="container">
					<div class="slider-text text-center">
						<h1 class="cd-headline clip is-full-width">
							<span>Tipo de habitaciones más visitadas</span>
						</h1>
					</div>					
				</div>
      </div>

  <div class="contenedor">
    <div id="mas"></div>
    <div class="visitas_home"></div>
  </div>
<!-- Fin cagegorias mas visitadas -->



<!-- Datos del API -->
<div class="single-slider ptb-1500 bg-opacity">
  <div class="container">
      <div class="slider-text text-center">
        <h1 class="cd-headline clip is-full-width">
          <span>Libros</span>
        </h1>
      </div>					
    </div>
  </div>

  <div id="libros"></div>



<!-- Fin datos de API -->












<!-- No hacer caso a lo de abajo -->


    <style>
        .div-imagen {  display:inline-block;  position:relative;}
        .div-imagen > div {  position:absolute;  top:0;  left:0;  z-index:-1;  padding:10px;  margin:0;}
        .desvanecer:hover {  opacity: 0.07;  -webkit-transition: opacity 500ms;  -moz-transition: opacity 500ms;  -o-transition: opacity 500ms;  -ms-transition: opacity 500ms;  transition: opacity 500ms;   }
    </style>

    <div style="margin-left:20%;margin-top:10%;" class="div-imagen">
      <div style="display:flex;align-items:flex-end;height:90px;border:solid 1px rgb(224,224,224);">
          Descripción de la foto que quieres que se muestre
      </div>
    <img style="width:200px;height:120px;background-color:white;" class="desvanecer" src="http://www3.ajuntament-ontinyent.es:8092/inet/Imatges/Ontinyent.png" />
  </div>




    <audio controls>
        <source src="view/music/whistle.mp3" type="audio/mpeg">
    </audio>











    <!-- Texto en movimiento -->
<!-- <div class="single-slider ptb-150 bg-opacity" style="width:30%;height:1%">
			<div class="container">
					<div class="slider-text text-center">
						<h1 class="cd-headline clip is-full-width">
							<span>We are </span>
							<span class="cd-words-wrapper">
								<b class="is-visible">Professional</b>
								<b>Awesome</b>
								<b>Corporate</b>
							</span>
						</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a class="active" href="#">View features</a>
					</div>					
				</div>
      </div> -->
        <!-- Fin texto en movimiento -->



    
    
      

	
