<div class="main-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2">
							<div class="logo">
								<a href="index.php"><img src="img/logo/1.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10">
							<div class="main-menu floatright">
								<nav>
									<ul>
										<li class="active"><a href="index.php">Home<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="index.html">home version 1</a></li>
												<li><a href="index-2.html">home version 2</a></li>
												<li><a href="index.php">La mia</a></li>
											</ul>
										</li>
										<li><a href="about.html">about</a></li>
										<li><a href="service.html">service</a></li>
										<li><a href="portfolio.html">Portfolio<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="portfolio-column-2.html">portfolio column 2</a></li>
												<li><a href="portfolio-column-4.html">portfolio column 4</a></li>
												<li><a href="portfolio-full.html">Habitaciones</a></li>
											</ul>
										</li>
										<li><a href="team.html">team</a></li>
										<li><a href="blog-left-sidebar.html">blog<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
												<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
												<li><a href="blog-details.html">blog details</a></li>
											</ul>
										</li>
										<li><a href="contact.html">contact</a></li>
									</ul>
								</nav>
							</div>
							<div class="mobile-menu-area"></div>
						</div>
					</div>
				</div>
			</div>