<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Smoth | Corporate HTML Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<!-- all css here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		<!-- header start -->
		<header>
			<div class="header-top-area black-bg hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="top-right">
								<li>
									<i class="fa fa-envelope"></i>
									<span>Support@mail.com</span>
								</li>
								<li>
									<i class="fa fa-phone"></i>
									<span>+01 1800 453 7678</span>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 hidden-xs">
							<div class="header-icon floatright">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-youtube"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</div>							
						</div>
					</div>
				</div>
			</div>
			<!-- main-menu-area-start -->
			<div class="main-menu-area">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2">
							<div class="logo">
								<a href="index.html"><img src="img/logo/1.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10">
							<div class="main-menu floatright">
								<nav>
									<ul>
										<li class="active"><a href="index.html">Home<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="index.html">home version 1</a></li>
												<li><a href="index-2.html">home version 2</a></li>
												<li><a href="index-3.html">home version 3</a></li>
											</ul>
										</li>
										<li><a href="about.html">about</a></li>
										<li><a href="service.html">service</a></li>
										<li><a href="portfolio.html">Portfolio<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="portfolio-column-2.html">portfolio column 2</a></li>
												<li><a href="portfolio-column-4.html">portfolio column 4</a></li>
												<li><a href="portfolio-full.html">Habitaciones</a></li>
											</ul>
										</li>
										<li><a href="team.html">team</a></li>
										<li><a href="blog-left-sidebar.html">blog<i class="fa fa-angle-down"></i></a>
											<ul class="submenu">
												<li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
												<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
												<li><a href="blog-details.html">blog details</a></li>
											</ul>
										</li>
										<li><a href="contact.html">contact</a></li>
									</ul>
								</nav>
							</div>
							<div class="mobile-menu-area"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- main-menu-area-end -->
		</header>
		<!-- header end -->
		<!-- slider-area-start -->
		<div class="slider-area">
			<div class="slider-active owl-carousel">
				<div class="single-slider ptb-150 bg-opacity" style="background-image:url(img/slider/2.jpg)">
					<div class="container">
						<div class="slider-text">
							<h1>We build your business<br>  not just a website</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>  Lorem ipsum  dolor  sit amet</p>
							<a class="active" href="#">View features</a>
						</div>					
					</div>
				</div>
				<div class="single-slider ptb-150 bg-opacity" style="background-image:url(img/slider/3.jpg)">
					<div class="container">
						<div class="slider-text">
							<h1>Powerful multipurpose <br>  Business Template</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>  Lorem ipsum  dolor sit amet.</p>
							<a href="#">Purchase Now</a>
							<a class="active" href="#">View features</a>
						</div>					
					</div>
				</div>
				<div class="single-slider ptb-150 bg-opacity" style="background-image:url(img/slider/1.jpg)">
					<div class="container">
						<div class="slider-text">
							<h1>Powerful multipurpose <br>  Business Template</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum  dolor <br> sit amet, consectetur adipiscing elit</p>
							<a href="#">Purchase Now</a>
							<a class="active" href="#">View features</a>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<!-- slider-area-end -->
		<!-- What-wedo-area-start -->
		<div class="what-we-do-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>What we do</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</div>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single-What-wedo mb-30">
							<div class="What-wedo-text text-center">
								<div class="icon-box">
									<i class="pe-7s-magic-wand"></i>
								</div>
								<h3>Free support & updates</h3>
								<p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-What-wedo mb-30">
							<div class="What-wedo-text text-center">
								<div class="icon-box">
									<i class="pe-7s-phone"></i>
								</div>
								<h3>Ultra responsive</h3>
								<p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-What-wedo mb-30">
							<div class="What-wedo-text text-center">
								<div class="icon-box">
									<i class="pe-7s-like"></i>
								</div>
								<h3>made with love</h3>
								<p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-What-wedo mb-30">
							<div class="What-wedo-text text-center">
								<div class="icon-box">
									<i class="pe-7s-folder"></i>
								</div>
								<h3>Premium plugins</h3>
								<p> Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- What-wedo-area-end -->
		<!-- counter-area-start -->
		<div class="counter-area fix">
			<div class="single-counter">
				<div class="counter-text">
					<h3>
						<span class="counter">950</span>
					</h3>
					<h4>Downloads</h4>
				</div>
			</div>
			<div class="single-counter">
				<div class="counter-text">
					<h3>
						<span class="counter">643</span>
					</h3>
					<h4>Happy Customers</h4>
				</div>
			</div>
			<div class="single-counter">
				<div class="counter-text">
					<h3>
						<span class="counter">18</span>
					</h3>
					<h4>Valid layouts</h4>
				</div>
			</div>
			<div class="single-counter">
				<div class="counter-text">
					<h3>
						<span class="counter">572</span>
					</h3>
					<h4>Cups of tea</h4>
				</div>
			</div>
		</div>
		<!-- counter-area-end -->
		<!-- portfolio-area-start -->
		<div class="portfolio-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>Portfolio</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</div>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="portfolio-filter text-center">
							<li class="filter active" data-filter="all">all</li>
							<li class="filter" data-filter=".design">design</li>
							<li class="filter" data-filter=".HTML5">HTML5</li>
							<li class="filter" data-filter=".wordpress">wordpress</li>
							<li class="filter" data-filter=".Seo">Seo</li>
						</ul>
					</div>
					<div id="Container">
						<div class="col-md-4 mix design Seo col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/1.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/1.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix Seo wordpress col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/2.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/2.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix wordpress design col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/3.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/3.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix design wordpress HTML5 col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/4.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/4.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix wordpress HTML5 col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/5.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/5.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix HTML5 Seo col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/6.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/6.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix design design col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/7.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/7.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix design design col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/8.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/8.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mix design wordpress col-sm-4">
							<div class="single-portfolio mb-30">
								<div class="portfolio-img">
									<a href="#"><img src="img/portfolio/9.jpg" alt="" /></a>
								</div>
								<div class="portfolio-info">
									<div class="portfolio-icon">
										<a class="image-link" href="img/portfolio/9.jpg"><i class="fa fa-plus"></i></a>
										<a href="#"><i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- portfolio-area-end -->
		<!-- testimonial-area-start -->
		<div class="testimonial-area ptb-80 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>testimonial</h2>
						</div>					
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div class="testimonial-active owl-carousel">
							<div class="testimonial-wrapper">
								<div class="testimonial-img text-center">
									<img src="img/testimonial/1.jpg" alt="" />
								</div>
								<div class="testimonial-info text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
									<span>Michael Jordan</span>
								</div>
							</div>
							<div class="testimonial-wrapper">
								<div class="testimonial-img text-center">
									<img src="img/testimonial/1.jpg" alt="" />
								</div>
								<div class="testimonial-info text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
									<span>Michael Jordan</span>
								</div>
							</div>
							<div class="testimonial-wrapper">
								<div class="testimonial-img text-center">
									<img src="img/testimonial/1.jpg" alt="" />
								</div>
								<div class="testimonial-info text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus sapiente aliquam incidunt, nostrum voluptas unde dolor quam possimus omnis deserunt magni itaque saepe sunt. Autem neque a laborum provident.</p>
									<span>Michael Jordan</span>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial-area-end -->		
		<!-- service-area-start -->
		<div class="service-area pt-80 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>Services</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</div>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-image"></i>
							</div>
							<div class="service-text">
								<h4>Creative ideas</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-lightbulb-o"></i>
							</div>
							<div class="service-text">
								<h4>Creative ideas</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="service-text">
								<h4>Pixel Perfect design</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="service-text">
								<h4>Customers support</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-tablet"></i>
							</div>
							<div class="service-text">
								<h4>Responsive Design</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="single-service text-center mb-70">
							<div class="service-icon">
								<i class="fa fa-plane"></i>
							</div>
							<div class="service-text">
								<h4>Seo ready</h4>
								<p> Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- service-area-end -->
		<!-- video-area-start -->
		<div class="video-area bg-img-2 ptb-100 bg-opacity-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="single-video text-center">
							<a class="video-popup" href="https://www.youtube.com/watch?v=8uZ98Pa3bPE">
								<span class="play-icon-md">
									<i class="fa fa-play"></i>
								</span>
							</a>
							<div class="video-text">
								<p>Eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. <br> Excepteur sint occaecat cupidatat non proident</p>
								<h6>See Watch Video</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- video-area-end -->
		<!-- pricing-area-start -->
		<div class="pricing-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>Responsive Pricing Tables</h2>
							<p>Detached 4 columns</p>
						</div>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single-price mb-30">
							<div class="price-title">
								<h3>Starter</h3>
								<span>for new user's</span>
							</div>
							<div class="price-plan">
								<span class="price">$25</span>
								<span class="period">per month</span>
							</div>
							<div class="plan-list">
								<ul class="item-list">
									<li><strong>5GB</strong> Disk Space</li>
									<li class="white-bg"><strong>15</strong> Email Addresses</li>
									<li><strong>5</strong> Domains </li>
									<li class="white-bg"><strong>50</strong> Subdomains</li>
									<li><strong>Email</strong> Support</li>
								</ul>
								<a class="sign" href="#"><i class="fa fa-hand-o-right hided-icon"></i> Sign Up</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-price mb-30">
							<div class="price-title">
								<h3>VALUE</h3>
								<span>most popular plan</span>
							</div>
							<div class="price-plan">
								<span class="price">$35</span>
								<span class="period">per month</span>
							</div>
							<div class="plan-list">
								<ul class="item-list">
									<li><strong>10GB</strong> Disk Space</li>
									<li class="white-bg"><strong>18</strong> Email Addresses</li>
									<li><strong>7</strong> Domains </li>
									<li class="white-bg"><strong>60</strong> Subdomains</li>
									<li><strong>Email</strong> Support</li>
								</ul>
								<a class="sign" href="#"><i class="fa fa-hand-o-right hided-icon"></i> Sign Up</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-price mb-30">
							<div class="price-title">
								<h3>PRO</h3>
								<span>only for professionals</span>
							</div>
							<div class="price-plan">
								<span class="price">$45</span>
								<span class="period">per month</span>
							</div>
							<div class="plan-list">
								<ul class="item-list">
									<li><strong>20GB</strong>Disk Space</li>
									<li class="white-bg"><strong>20</strong> Email Addresses</li>
									<li><strong>10</strong> Domains </li>
									<li class="white-bg"><strong>650</strong> Subdomains</li>
									<li><strong>chat</strong> Support</li>
								</ul>
								<a class="sign" href="#"><i class="fa fa-hand-o-right hided-icon"></i> Sign Up</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="single-price mb-30">
							<div class="price-title">
								<h3>Master</h3>
								<span>only for professionals</span>
							</div>
							<div class="price-plan">
								<span class="price">$99</span>
								<span class="period">per month</span>
							</div>
							<div class="plan-list">
								<ul class="item-list">
									<li><strong>Unlimited</strong> Disk Space</li>
									<li class="white-bg"><strong>Unlimited</strong> Email Addresses</li>
									<li><strong>50</strong> Domains </li>
									<li class="white-bg"><strong>Unlimited</strong> Subdomains</li>
									<li><strong>phone</strong> Support</li>
								</ul>
								<a class="sign" href="#"><i class="fa fa-hand-o-right hided-icon"></i> Sign Up</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pricing-area-end -->
		<!-- blog-area-start -->
		<div class="our-blog-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-title text-center">
							<h2>our-blog</h2>
							<p>Read fresh news in our blog.</p>
						</div>					
					</div>
					<div class="col-md-4">
						<div class="post-content-area white-bg mb-30">
							<div class="blog-content-img">
								<a href="#"><img alt="" src="img/blog/5.jpg"></a>
							</div>
							<div class="post-content blog-padd">
								<h2 class="post-title">
									<a href="#">The Handkerchief</a>
								</h2>
								<ul class="post-meta">
									<li>October 20, 2018</li>
									<li><a href="#">Brand</a>,<a href="#">Design</a></li>
								</ul>
								<p>Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis.</p>
								<a class="more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="post-content-area white-bg mb-30">
							<div class="blog-content-img">
								<a href="#"><img alt="" src="img/blog/6.jpg"></a>
							</div>
							<div class="post-content blog-padd">
								<h2 class="post-title">
									<a href="#">The Handkerchief</a>
								</h2>
								<ul class="post-meta">
									<li>October 20, 2018</li>
									<li><a href="#">Brand</a>,<a href="#">Design</a></li>
								</ul>
								<p>Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis.</p>
								<a class="more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="post-content-area white-bg mb-30">
							<div class="blog-content-img">
								<a href="#"><img alt="" src="img/blog/4.jpg"></a>
							</div>
							<div class="post-content blog-padd">
								<h2 class="post-title">
									<a href="#">The Handkerchief</a>
								</h2>
								<ul class="post-meta">
									<li>October 20, 2018</li>
									<li><a href="#">Brand</a>,<a href="#">Design</a></li>
								</ul>
								<p>Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis.</p>
								<a class="more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- blog-area-end -->
		<!-- our-brand-area-start -->
		<div class="our-brand-area ptb-80">
			<div class="container">
				<div class="row">
					<div class="brand-active owl-carousel">
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/1.png" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/2.png" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/3.png" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/4.png" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/5.png" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="single-brand">
								<div class="brand-img">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- our-brand-area-end -->
		<!-- footer start -->
		<footer>
			<div class="footer-area black-bg ptb-80">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4">
							<div class="footer-widget md-30">
								<div class="footer-img">
									<a href="#"><img src="img/logo/2.png" alt="" /></a>
								</div>
								<div class="footer-address">
									<p>We create themes and templates with bootstrap framework.</p>
								</div>
								<div class="address">
									<ul class="list-unstyled contact">
										<li><p><strong><i class="fa fa-map-marker"></i> </strong> vaisahali, jaipur, 302012</p></li> 
										<li><p><strong><i class="fa fa-envelope"></i></strong> <a href="#">Support@domain.com</a></p></li>
										<li> <p><strong><i class="fa fa-phone"></i></strong> +91 1800 2345 2132</p></li>
										<li> <p><strong><i class="fa fa-print"></i> </strong> 1800 2345 2132</p></li>
										<li> <p><strong><i class="fa fa-skype"></i> </strong> jondoe001</p></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="widget mb-30">
								<div class="widget-title">
									<h4>Popular Posts</h4>
									<ul class="posts-list">
										<li>
											<div class="list-img">
												<a href="#"><img src="img/footer/1.jpg" alt="" /></a>
											</div>
											<h5><a href="#">Dolores labore quod.</a></h5>
											<span>Jan 08, 2016</span>
										</li>
										<li>
											<div class="list-img">
												<a href="#"><img src="img/footer/2.jpg" alt="" /></a>
											</div>
											<h5><a href="#">Dolores labore ipsum quod.</a></h5>
											<span>Jan 08, 2018</span>
										</li>
										<li>
											<div class="list-img">
												<a href="#"><img src="img/footer/3.jpg" alt="" /></a>
											</div>
											<h5><a href="#">Dolores labore ipsum</a></h5>
											<span>Jan 01, 2016</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 hidden-sm">
							<div class="widget mb-30">
								<div class="widget-title">
									<h4>Tagcloud</h4>
									<div class="tagcloud">
										<a href="#">Design</a>
										<a href="#">Develop</a>
										<a href="#">Seo</a>
										<a href="#">jQuery</a>
										<a href="#">Wordpress</a>
										<a href="#">Angular</a>
										<a href="#">Node</a>
										<a href="#">Express</a>
										<a href="#">Gulp</a>
										<a href="#">Sass</a>
										<a href="#">Bootstrap</a>
										<a href="#">Html5</a>
										<a href="#">Css3</a>
										<a href="#">Node</a>
										<a href="#">Retina</a>
										<a href="#">Sprites</a>
										<a href="#">Html5</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="widget ">
								<div class="widget-title">
									<h4>Latest Work</h4>
									<div class="rows">
										<ul class="Flickr-list">
											<li>
												<a href="#"><img src="img/portfolio/img-1.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-2.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-3.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-4.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-5.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-6.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-7.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-8.jpg" alt="" /></a>
											</li>
											<li>
												<a href="#"><img src="img/portfolio/img-9.jpg" alt="" /></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-area">
				<div class="container">
					<div class="social-icons text-center">
						<label>Find Us:</label>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-tumblr"></i></a>
						<a href="#"><i class="fa fa-flickr"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>
						<a href="#"><i class="fa fa-ge"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-amazon"></i></a>
						<a href="#"><i class="fa fa-codepen"></i></a>
					</div>
					<div class="copyright text-center">
						<p>Smoth template - All rights reserved - 2018 © Made by</p>
						<a href="#">ThemePure</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->
		<!-- all js here -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
