@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yd15dl');
  src:  url('fonts/icomoon.eot?yd15dl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yd15dl') format('truetype'),
    url('fonts/icomoon.woff?yd15dl') format('woff'),
    url('fonts/icomoon.svg?yd15dl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
