<div class="login">
    <!-- <div ><a class="btn" id="login">Login</a></div>
    <div class="autocomplete"> 
        <input id="user" placeholder="Nombre" type="text" />



        <input id="password" placeholder="Contraseña" type="text" />

    </div>
    
<a id="register" href="index.php?page=controller_login&op=register"">Registrate</a> -->
<!-- <h1>LOGIN</h1>


 <fieldset>
    <legend></legend>
    <label>Nombre:</label>
    <input type="text" name="user" id="user"><br><br>
    <label>Contraseña:</label>
    <input type="text" id="password" name="password"><br><br>
    <label>Email:</label>
    <input type="email" id="email" name="email"><br><br>
    <input type="submit" value="Submit">
 </fieldset> -->

</div>