RewriteEngine on
RewriteBase /1_Fw_PHP_OO_MVC_jQuery_AngularJS/Framework/9_adoptions_dogs/

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&function=$2&param=$3&param2=$4 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&function=$2&param=$3 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)$ index.php?module=$1&function=$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)$ index.php?module=$1 [L,NC]