<script type="text/javascript" src="<?php echo JS_VIEW_LOGIN ?>recpass_list.js"></script>
<div id="content_reac_pass">
	<h3>Recuperar contraseña</h3>
	<table>
	 	<tr>
	       	<td>Contraseña: </td>
	       	<td id="error_recpass">
	       		<input type="password" id="recpass" placeholder="Contraseña" value=""/>
	      	</td>
	    </tr>
	    <tr>
	       	<td>Repetir contraseña: </td>
	       	<td id="error_recpassr">
	       		<input type="password" id="recpassr" placeholder="Repetir contraseña" value=""/>
	      	</td>
	    </tr>
	</table>
	<button id="send_rec_pass">Recuperar contraseña</button>
</div>